[global_config]
[keybindings]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
  [[node-1]]
    cursor_color = "#aaaaaa"
    use_custom_command = True
    custom_command = 'bash -c "rscreen admin@node-1"'
  [[node-2]]
    cursor_color = "#aaaaaa"
    use_custom_command = True
    custom_command = 'bash -c "rscreen admin@node-2"'
  [[node-3]]
    cursor_color = "#aaaaaa"
    use_custom_command = True
    custom_command = 'bash -c "rscreen admin@node-3"'
  [[node-control]]
    cursor_color = "#aaaaaa"
    use_custom_command = True
    custom_command = 'bash -c "rscreen admin@node-cn"'
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
  [[nodes]]
    [[[child0]]]
      type = Window
      parent = ""
      order = 0
      position = 0:29
      maximised = False
      fullscreen = False
      size = 1697, 995
      title = node-manager
      last_active_term = 782d033d-c6c4-4bac-b9dc-77d5a7f157b2
      last_active_window = True
    [[[child1]]]
      type = HPaned
      parent = child0
      order = 0
      position = 846
      ratio = 0.5
    [[[child2]]]
      type = VPaned
      parent = child1
      order = 0
      position = 495
      ratio = 0.5
    [[[terminal3]]]
      type = Terminal
      parent = child2
      order = 0
      group = node
      profile = node-1
      uuid = 782d033d-c6c4-4bac-b9dc-77d5a7f157b2
    [[[terminal4]]]
      type = Terminal
      parent = child2
      order = 1
      group = node
      profile = node-2
      uuid = adb4a90b-f34e-45ab-b8be-131559811bb5
    [[[child5]]]
      type = VPaned
      parent = child1
      order = 1
      position = 495
      ratio = 0.5
    [[[terminal6]]]
      type = Terminal
      parent = child5
      order = 0
      group = node
      profile = node-3
      uuid = 0effc371-d085-4d92-8da8-bdfc76560652
    [[[terminal7]]]
      type = Terminal
      parent = child5
      order = 1
      profile = node-control
      uuid = c5422953-6e40-4d2c-b180-5b2f1e2418e7
[plugins]
